body {
	color: #022D5B;
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	color: #0854A2;
}
a:hover {
	color: #428AD5;
}
a:active {
	color: #FF0000;
}
#sp_header, #sp_footer, body, #sp_menu {
	background: #FCB345;
}
#sp_header {
	position: relative;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid #8B5400;
}
#sp_header_content, #sp_menu_content, #sp_page, #sp_footer_content {
	max-width: 1024px;
	min-width: 580px;
	margin: auto;
}
#sp_header_content {
	min-height: 80px;
}
#sp_logo {
	border: 1px solid #8B5400;
	background: #fff;
	width: 100px;
	height: 60px;
	margin: 9px 0;
	margin-left: 0px;
	float: left;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
}
#sp_menu {
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #8B5400;
	height: 20px;
}
#sp_menu_content div a {
	padding: 0 10px;
	line-height: 20px;
	height: 20px;
	text-decoration: none;
	font-weight: bold;
}
div.clear {
	clear: both;
}
#sp_ad_banner {
	position: relative;
	float: right;
	margin: 9px 0;
	height: 60px;
	width: 468px;
	overflow: hidden;
	line-height: 60px;
	text-align: center;
	border: 1px solid #8B5400;
	background: #fff;
}
#sp_ad_banner span {
	width: 100%;
	position: absolute;
}
#sp_ad_banner iframe {
	background: #fff;
}
#sp_bg {
	background: #fff;
}
#sp_page {
	z-index: 50;
	box-shadow: 0 0 20px rgba(0,0,0, .5);
}
#sp_page_content {
	min-height: 200px;
	padding: 30px;
	padding-top: 10px;
}
#sp_footer {
	z-index: 100;
	border-top: 1px solid #8B5400;
	width: 100%;
}
#sp_footer_content {
	padding: 10px;
}
