#sortForm {
	width: 100%;
	min-height: 300px;
}
#sortForm table {
	width: 100%;
	text-align: center;
}
#sortForm textarea {
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
	display: block;
	resize: vertical;
}
#sortForm input {
	padding: 5px 20px;
}
