form {
	width: 100%;
	min-height: 300px;
}
form table {
	width: 100%;
	text-align: center;
}
form textarea {
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
	display: block;
	resize: vertical;
}
form input {
	padding: 5px 20px;
}
